html {
  box-sizing: border-box;
}

body {
  background-color: #ffcdb2;
	font-family: 'Gentium Plus', serif;
  font-size: 24px;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  color: #22223b;
  
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 20vmin);
  grid-template-columns: repeat(3, 20vmin);
  grid-gap: 0vmin;
  
  
 
}
section.board:hover {
  color: #22223b;
  
}

.square {
  color:#22223b;
  display: flex;
  align-items:center;
  justify-content: center;
  

}
.square:hover {
 
  background-color: #ffcdb2;
}
div {
  border: 3px solid black;
  font-size: 10vmin;
  text-align: center;
  vertical-align: middle;
  background-color: #b5838d;
}



#button {
  background-color: #6d6875;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  padding: 5px 5px;
  color: #ffcdb2;
  font-size: large;
  
  

}

